* {

    font-family        : Arial, Helvetica, sans-serif;
    background-position: top;
    background-size    : 100%;
    overflow-x         : hidden;
}

body {
    background-image   : url(media/nadia.PNG);
}

h1.judul {
    padding-top   : 5rem;
    text-align    : center;
    color         : aqua;
    position      : relative;
    background    : transparent;
    box-sizing    : border-box;
    padding-bottom: 2rem;
}

.content h2 {

    /* position     : relative; */
    background   : transparent;
    /* color     : transparent; */
    color        : white;
    /* text-align: center; */
}

h2.span1::before {
    content   : '';
    position  : absolute;
    background: transparent;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
}

h2.span2::before {
    content   : '';
    position  : absolute;
    background: transparent;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
}

h2.span3::before {
    content   : '';
    position  : absolute;
    background: transparent;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
}

h2.span4::before {
    content   : '';
    position  : absolute;
    background: transparent;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
}

h2.span5::before {
    content   : '';
    position  : absolute;
    background: transparent;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
}

h2.span6::before {
    content   : '';
    position  : absolute;
    background: transparent;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
}

h2.span7::before {
    content   : '';
    position  : absolute;
    background: transparent;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
}

h2.span1::before {
    background: white;
    animation : create 3s ease forwards;
}

h2.span2::before {
    background        : white;
    animation         : create 3s ease forwards;
    animation-duration: 3s;
    animation-delay   : 3s;
}

h2.span3::before {
    background        : white;
    animation         : create 3s ease forwards;
    animation-duration: 3s;
    animation-delay   : 6s;
}

h2.span4::before {
    background        : white;
    animation         : create 3s ease forwards;
    animation-duration: 3s;
    animation-delay   : 9s;
}

h2.span5::before {
    background        : white;
    animation         : create 3s ease forwards;
    animation-duration: 3s;
    animation-delay   : 12s;
}

h2.span6::before {
    background        : white;
    animation         : create 3s ease forwards;
    animation-duration: 3s;
    animation-delay   : 15s;
}

h2.span7::before {
    background        : white;
    animation         : create 3s ease forwards;
    animation-duration: 3s;
    animation-delay   : 18s;
}

@-webkit-keyframes create {
    to {
        left: 100%;
    }
}